<tr id="<%= dom_id company %>">
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= company.display_order %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= company.name %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= company.description %></td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
    <div class="flex">
      <%= link_to t('actions.edit'), edit_administrators_company_path(company), class: "text-indigo-600 hover:text-indigo-900 mr-2" %>
      <%= link_to t('actions.show'), administrators_company_path(company), class: "text-indigo-600 hover:text-indigo-900 mr-2" %>
      <%= button_to t('actions.delete'), administrators_company_path(company), class: "text-red-600 hover:text-red-900", method: :delete, data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </td>
</tr>
