<!DOCTYPE html>
<html>
  <head>
    <title>Bookcare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased font-sans bg-gray-200">
    <div class="min-h-full">
      <%= render "layouts/shared/administrators/navigation" %>

      <main class="-mt-32">
        <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
          <!-- Replace with your content -->
          <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
            <%= yield %>
          </div>
          <!-- /End replace -->
        </div>
        <%= render "layouts/shared/administrators/modal" %>
      </main>
    </div>
  </body>
</html>
